doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/main.css')
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="/javascripts/JavaScript.js"></script>
  body
    <nav>
        <h2><a href="/">Basic Site</a></h2>
        <div class="NavBar">
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/">About Us</a></li>
                <li><a href="/">Help</a></li>
                <li><a href="/">Login</a></li>
            </ul>
        </div>
    </nav>
    block content